.image{
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    border-radius: 1rem;
    height: 15.5rem;
    width: 25.8rem;
} 
.card{
    margin-bottom: 1.5rem !important;
    border-radius: 1rem;
}

@media screen and (max-width:1024px) {
    .image{
        margin-top: 0rem;
        margin-bottom: 0rem;
        margin-left: 0rem;
        border-radius: 1rem;
        height: 14rem;
        width: 13.5rem;
    } 
    
}

@media screen and (max-width:600px) {
    .image{
        margin-top: 0rem;
        margin-bottom: 0rem;
        margin-left: 0rem;
        border-radius: 1rem;
        height: 15.5rem;
        width: 23rem;
    } 
    
}